<div class="container">
  <div class="text-box">
    <h1 class="text-line text-line-1">
      <a href="#" class="rollover">
        <span data-title="Technologies">Technologies
        </span>
      </a>
    </h1>
  </div>
  <div class="text-box2 smoke">
    <h3 class="text-line text-line-3">DAY-TO-DAY COMFORT</h3>
    <ul class="text-line2 text-line-4">
      <li>HTML5 / CSS3</li>
      <li>JavaScript / Angular</li>
      <li>ES6</li>
      <li>Bootstrap</li>
      <li>GitHub</li>
      <li>AJAX</li>
      <li>OOP</li>
      <li>TypeScript</li>
      <li>Angular Material</li>
    </ul>
  </div>
  <div class="exp-container ">
    <ul class="exp-icon">
      <li><i class="fab fa-html5"></i></li>
      <li><i class="fab fa-css3-alt"></i></li>
      <li><i class="fab fa-js"></i></li>
      <li><i class="fab fa-angular"></i></li>
      <li><i class="fab fa-bootstrap"></i></li>
      <li><i class="fab fa-github"></i></li>
      <li>
        <img alt="" src="https://png.pngtree.com/svg/20160519/212f625c9f.png" width="90px" height="100px">
      </li>
    </ul>
  </div>
  <div class="experience smoke">
    <h3 class="text-line text-line-3">EXPERIENCE WITH </h3>
    <ul class="text-line2 text-line-4">
      <li>Node.js</li>
      <li>Webpack</li>
      <li>jQuery</li>
    </ul>
  </div>
    <div class="exp-container ">
      <ul class="exp-icon">
        <li>
          <img alt="" src="https://img.icons8.com/ios/50/000000/jquery-filled.png" width="50px">
        </li>
        <li>
          <img alt="" src="https://raw.githubusercontent.com/webpack/media/master/logo/icon-square-big.png" width="90px" height="100px">
        </li>
        <li>
          <img alt="" src="https://cdn2.iconfinder.com/data/icons/nodejs-1/512/nodejs-512.png" width="90px" height="100px">
        </li>
      </ul>
    </div>
  <div class="text-box">
    <h1 class="text-line text-line-1">
      <a href="#" class="rollover">
        <span data-title="Education">Education
        </span>
      </a>
    </h1>
  </div>
  <div class="name-school smoke">
    <h3 class="text-line text-line-3">HTML Academy</h3>
    <ul class="text-line2 text-line-4">
      <li>HTML + CSS , September 2018 - December 2018</li>
    </ul>
    <h3 class="text-line text-line-3">EasyCode</h3>
    <ul class="text-line2 text-line-4">
      <li>JAVASCRIPT + ANGULAR , December 2018 - May 2019</li>
    </ul>
  </div>
  <div class="exp-container ">
    <ul class="exp-icon">
      <li>
        <img alt="" src="https://avatars0.githubusercontent.com/u/6252385?s=200&v=4" width="100px" height="100px">
      </li>
      <li>
        <img alt="" src="https://p2.zoon.ru/preview/2bzddFa9VBSwdA_6EtnKNQ/1080x1080x75/1/1/2/original_56777f23b4b78680228b456c_591c64a92bace.jpg" width="100px" height="100px">
      </li>
    </ul>
  </div>
</div>


