<div class=menu>
  <input type="checkbox" id="button">
  <label for="button"></label>
  <div class="cross"></div>
  <ul class="burger">
    <a href="#" title="Resume" [routerLink]="['/portfolio']">
      <li>
          <span class="point1">
            <i class="fa fa-briefcase" aria-hidden="true">
            </i>
          </span>
      </li>
    </a>
    <a href="#" title="About Me" [routerLink]="['/about']">
      <li>
          <span class="point2">
            <i class="fa fa-user" aria-hidden="true">
            </i>
          </span>
      </li>
    </a>
    <a href="#" title="Contact" [routerLink]="['/contact']">
      <li>
          <span class="point3">
            <i class="fa fa-address-card" aria-hidden="true">
            </i>
          </span>
      </li>
    </a>
  </ul>
</div>
