<span >
    Reach out and send me a friendly hello.
  <h1>LET'S HAVE A CHAT</h1><br>
  </span>
<div class="image-container">
  <img class="cover-image" alt='' src="https://fotocamera.ucoz.ru/_ph/8/958333699.jpg">

  <div class="container">
      <div class="box">
        <a href="https://t.me/Olchik_Vadimovna">
          <img class="fa fa-telegram" alt="" src="http://pngimg.com/uploads/telegram/telegram_PNG32.png" width="40%">
        </a>
      </div>
      <div class="box">
        <a href="https://github.com/Olga-Miroshnychenko" >
         <img class="fa fa-telegram" alt="" src="https://cdn.freebiesupply.com/logos/large/2x/github-icon-logo-png-transparent.png" width="40%">
        </a>
      </div>
      <div class="box">
        <a href="mailto:olgamir1997@gmail.com">
         <img class="fa fa-telegram" alt="" src="http://cdn.onlinewebfonts.com/svg/img_432958.png" width="40%">
        </a>
      </div>
      <div class="box">
        <a href="https://www.instagram.com/olchik_vadimovna/?hl=ru" >
         <img class="fa fa-telegram" alt="" src="https://cdn2.iconfinder.com/data/icons/harmonicons-04/64/instagram-512.png" width="40%">
        </a>
      </div>
  </div>
</div>
