
<div class="contacts">
  <div class="navbar">
    <li><a  class="navbar-item" href="#" [routerLink]="['/home']"> Resume | </a></li>
    <li><a  class="navbar-item" href="#"  [routerLink]="['/about']"> About | </a></li>
    <li><a  class="navbar-item" href="#" [routerLink]="['/contact']"> Contact </a></li>
  </div >
  <div class="rights">
    <p>© 2019 Miroshnychenko Olha. All rights reserved. Developer & Good WoMan</p>
  </div>
  <div class="icon-container">
    <div class="wrap">
      <div class="social-container" onclick="">
        <a href="mailto:olgamir1997@gmail.com" target="_blank">
          <div id="envelope" class="social-icon"><i class="fas fa-envelope"></i></div>
        </a>
        <a href="https://www.facebook.com/profile.php?id=100015632253651" target="_blank">
          <div id="facebook" class="social-icon"><i class="fab fa-facebook"></i></div>
        </a>
        <a href="https://www.linkedin.com/in/olga-miroshnychenko-055454184/" target="_blank">
          <div id="linkedin" class="social-icon"><i class="fab fa-linkedin"></i></div>
        </a>
        <a href="https://www.instagram.com/olchik_vadimovna/?hl=ru" target="_blank">
          <div id="instagram" class="social-icon"><i class="fab fa-instagram"></i></div>
        </a>
      </div>
    </div>

  </div>
</div>

